## Load the dataset

In [19]:
import pandas as pd

# load the dataset
a1_turbine_path = '../Data/A1-turbine.txt'
a1_turbine_data = pd.read_csv(a1_turbine_path, sep='\t', header=0, comment='#')

In [20]:
# changing names for the columns
column_names = ["Height over Sea Level", "Fall 1", "Fall 2", "Fall 3", "Flow"]
a1_turbine_data.columns = column_names

# display dataset info
a1_turbine_data.info()
a1_turbine_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Height over Sea Level  450 non-null    float64
 1   Fall 1                 450 non-null    float64
 2   Fall 2                 450 non-null    float64
 3   Fall 3                 450 non-null    float64
 4   Flow                   450 non-null    float64
dtypes: float64(5)
memory usage: 17.7 KB

   Height over Sea Level  Fall 1  Fall 2  Fall 3     Flow
0                  628.0   93.16  93.765     3.5  2583.79
1                  602.0   67.84  66.415     6.5  3748.77
2                  599.0   64.84  63.415     6.5  3520.65
3                  630.0   94.69  93.540     8.0  6673.84
4                  620.0   84.89  84.665     6.0  4533.31

## Normalize the data

In [21]:
from sklearn.preprocessing import StandardScaler


# initializing the StandardScaler
scaler = StandardScaler()

# itting the scaler to the data and transforming it
normalized_turbine_data = scaler.fit_transform(a1_turbine_data)

# Converting the normalized data back to a DataFrame for easier interpretation
normalized_turbine_df = pd.DataFrame(normalized_turbine_data, columns=a1_turbine_data.columns)

# Displaying the first few rows of the normalized data
normalized_turbine_df.head()

   Height over Sea Level    Fall 1    Fall 2    Fall 3      Flow
0               1.458733  1.494763  1.565871 -1.363870 -0.920759
1              -0.889207 -0.864935 -0.908663  0.322233 -0.087759
2              -1.160123 -1.144520 -1.180093  0.322233 -0.250873
3               1.639344  1.637351  1.545514  1.165284  2.003763
4               0.736290  0.724040  0.742534  0.041216  0.473213

## Save the normalization

In [22]:
normalized_turbine_df.to_csv('A1-turbine-normalized.csv', index=False)
print("Normalized dataset saved as 'A1-turbine-normalized.csv'.")